{% extends 'apps/base/include.html' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Izoh</th>
                            <th scope="col">Sana</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}