
{% extends 'apps/base/include.html' %}
{% load static %}

{% block body %}
    <div class="col-12 col-md-12">
        <div class="bg-white dark__bg-1100 p-3 h-100"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm"
                                                           src="{% static 'apps/assets/css/photo_2025-03-13_13-55-45.jpg'%}" alt="" width="100">
            <h6 class="mb-1">
                998931115262
                <br>
            </h6>
            <p class="fs--2 mb-1"><a class="btn btn-link text-700" href="{% url 'settings' %}">Sozlamalarga
                o'tish</a></p>

        </div>
    </div>
{% endblock %}